<div class="table-title">
  <h3 class="title"><%= t('activerecord.models.instance') %></h3>
</div>
<div class="col-md-6">
  <%= simple_form_for @instance, html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_box: :horizontal_radio_and_checkboxes,
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |f| %>
    <%= f.error_notification %>
    <div class="has-error">
      <%= f.error :base %>
    </div>
    <%= f.input :slot_id, :as => :hidden %>
    <%= f.input :state_id, :as => :hidden %>
    <%= f.input :slot_name, disabled: true %>
    <%= f.input :name %>
    <%= f.input :state_name, disabled: true %>
    <%= f.input :current_frame %>
    <%= f.input :current_game %>
    <div class="form-group">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <%= f.button :submit, :class => "btn-success" %>  
        <% if action_name == 'new' %>
        <%= link_to 'Back', root_path %>
        <% else %>
        <%= link_to 'Back', @instance %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>