<div class="table-title">
  <h3 class="title"><%= t('activerecord.models.instance') %></h3>
</div>
<div class="row">
  <div class="col-md-12">
  <%= simple_form_for(@instance, legend: t('activerecord.models.instance'), html: {class: 'form-horizontal' }) do |f| %>
    <%= f.error_notification %>
    <dl class="inputs dl-horizontal">
      <dt><%= f.label :slot_name %>:</dt>
      <dd><%= @instance.slot_name %></dd>
      <dt><%= f.label :name %>:</dt>
      <dd><%= @instance.name %></dd>
      <dt><%= f.label :state_name %>:</dt>
      <dd><%= @instance.state_name %></dd>
      <dt><%= f.label :current_frame %>:</dt>
      <dd><%= @instance.current_frame %></dd>
      <dt><%= f.label :current_game %>:</dt>
      <dd><%= @instance.current_game %></dd>
    </dl>
  </div>
  <% end %>
</div>
<div class="row">  
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <% if @instance.check_close || @instance.check_start %>
    <%= link_to 'Edit', edit_instance_path(@instance.id) %>
    <% end %>
    <%= link_to 'Back', root_path %>
  </div>
</div>
<div class="table-title">
  <h4 class="title"><%= t('activerecord.models.game').pluralize %></h4>
</div>
<div class="row">
<% if @instance.check_start %>
  <%= form_tag add_game_instance_path, :method => 'POST' do -%>
  <div class="btn-group top-left">
    <div class="btn-group">
      <%= label_tag :name %>
      <%= text_field_tag :name %>
    </div>
  </div>
  <button type="submit" class="btn btn-default"><%= t('actions.new') %></button>
  <% end -%>
<% end %>
<% if @instance.check_close %>
  <%= form_tag update_frame_instance_path, :method => 'POST' do -%>
  <div class="btn-group top-left">
    <div class="btn-group">
      <%= label_tag :throw1 %>: 
      <%= text_field_tag :throw1, params[:throw1], size: 3 %>
    </div>
    <div class="btn-group">
      <%= label_tag :throw2 %>: 
      <%= text_field_tag :throw2, params[:throw2], size: 3 %>
    </div>
    <% if @instance.current_frame == Game::MAX_FRAME_OFFSET %>
      <div class="btn-group">
        <%= label_tag :throw3 %>: 
        <%= text_field_tag :throw3, params[:throw3], size: 3 %>
      </div>
    <% end %>
  </div>
  <button type="submit" class="btn btn-default"><%= "#{t('actions.update_frame')} for #{@current_game_name}x#{@instance.current_frame}" %></button>
  <% end -%>
<% end %>
</div>
<div class="row">
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('simple_form.labels.defaults.offset') %></th>
      <th><%= t('simple_form.labels.defaults.name') %></th>
      <th><%= t('simple_form.labels.defaults.score') %></th>
      <% 10.times do |i| %>
      <th style="text-align: right"><%= i %></th>
      <% end %>
      <th colspan="1">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |g| %>
      <tr>
        <td><%= g.offset %></td>
        <td><%= g.name %></td>
        <td><%= g.score %></td>
        <% @frames.select { |f| f.game_id == g.id }.each do |f| %>
          <% if f.offset == @instance.current_frame && g.offset == @instance.current_game %>
          <td style="text-align: right;background-color: pink">
          <% else %>
          <td style="text-align: right">
          <% end %>
          <% if f.offset == Game::MAX_FRAME_OFFSET %>
            <%= "#{f.throw1} / #{f.throw2||0} / #{f.throw3||0} = #{f.score}" %>
          <% else %>
            <%= "#{f.throw1} / #{f.throw2||0} = #{f.score}" %>
          <% end %>
          </td>
        <% end %>
        <td>
          <%= @instance.check_close == false ? ' ' : button_to(t('actions.delete'), remove_game_instance_path(:game_id => g.id)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <th colspan="14">&nbsp;</th>
  </tfoot>
</table>
</div>
<div class="row">
  <div class="btn-group top-left">
    <div class="btn-group">
      <% if @instance.check_start %>
        <%= button_to t('actions.start'), start_instance_path %>
      <% end %>
      <% if @instance.check_close %>
        <%= button_to t('actions.calculate'), calculate_instance_path %>
        <%= button_to t('actions.close'), close_instance_path %>
      <% end %>
    </div>
  </div>
</div>