<div class="table-title">
  <h3 class="title"><%= t('activerecord.models.slot').pluralize %></h3>
</div>
<div class="row">
  <% @slots.each do |s| %>
    <div class="col-md-3">
      <div class="jumbotron">
        <h1><%= s.name %></h1>
        <p><%= (s.instance_id ? link_to(s.instance_name, instance_path(s.instance_id)) : link_to(t('actions.new_instance'), new_instance_path(slot_id: s.id))) %></p>
        <p>
          <ul class="list-group">
          <% (@instance_hash[s.id]||[]).each do |i| %>
            <li class="list-group-item"><%= link_to i.name, i %></li>
          <% end %>
          </ul>
        </p>
      </div>
    </div>
  <% end %>
</div>