/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap";

.main {
  margin-top: 75px;  
}

.table-title {

  border-bottom: 2px solid #ccc;
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;

  .title {
    display: block;
    float: left;
    margin: 15px 10px;
  }
  
  .top-right {
    display: inline-block;
    float: right;
    margin: 15px 10px;
  }

  .glyphicon {
    margin-right:5px;
  }
}


.form-horizontal {
  .control-label {
    padding-top: 0px;
  }

  dt, dd {
    padding: 4px 0px;
  }
}