<!DOCTYPE html>
<html>
<head>
  <title>Bowlingr</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="../../favicon.ico">
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container main">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <%= link_to t(:title), root_path,:class => "navbar-brand" %> 
        </div>
      </div>
    </div>
    <%= bootstrap_flash %>
    <%= yield %>
  </div>
</body>
</html>